{% extends 'blog_platform/base.html' %}

{% block content %}
    <h2 class="search-title">Search for {{request.GET.search}}</h2>
    {% if not posts|length %}
        We didn't find anything.
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.created_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}


{% endblock %}